@import "../assets/vendors/fontawesome/css/fontawesome.min.css";
@import "../assets/vendors/fontawesome/css/regular.min.css";
@import "../assets/vendors/fontawesome/css/solid.min.css";
@import "../assets/vendors/fontawesome/css/brands.min.css";

@import "datatables-tailwind.css";
@import "select2-tailwind.css";

@tailwind base;
@tailwind components;

* {
    @apply transition-colors duration-300;
}

.ajax-loading {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8) url("/public/assets/images/default-loading.gif") 50% 50% no-repeat;
}

body.loading .ajax-loading {
    overflow: hidden;
}

body.loading .ajax-loading {
    display: block;
}

@tailwind utilities;

/* inter-100 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-100.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-100.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-100.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-100.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-100.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-100.svg#Inter") format("svg");
}

/* inter-200 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 200;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-200.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-200.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-200.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-200.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-200.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-200.svg#Inter") format("svg");
}

/* inter-300 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-300.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-300.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-300.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-300.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-300.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-300.svg#Inter") format("svg");
}

/* inter-regular - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-regular.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-regular.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-regular.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-regular.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-regular.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-regular.svg#Inter") format("svg");
}

/* inter-500 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-500.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-500.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-500.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-500.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-500.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-500.svg#Inter") format("svg");
}

/* inter-600 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-600.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-600.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-600.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-600.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-600.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-600.svg#Inter") format("svg");
}

/* inter-700 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-700.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-700.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-700.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-700.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-700.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-700.svg#Inter") format("svg");
}

/* inter-800 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-800.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-800.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-800.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-800.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-800.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-800.svg#Inter") format("svg");
}

/* inter-900 - latin */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 900;
    src: url("../assets/fonts/inter-v12-latin/inter-v12-latin-900.eot");
    src: local(""), url("../assets/fonts/inter-v12-latin/inter-v12-latin-900.eot?#iefix") format("embedded-opentype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-900.woff2") format("woff2"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-900.woff") format("woff"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-900.ttf") format("truetype"),
        url("../assets/fonts/inter-v12-latin/inter-v12-latin-900.svg#Inter") format("svg");
}
